
body {
  padding-left: 80px;
  padding-right: 90px;
  margin: auto;
  background-color: rgb(240, 241, 245);
  font-size: 40px;
}
h2 {
    text-decoration: underline; 
    -webkit-text-stroke: 5px; 
    text-align: center;
}
h1 {
    text-align: center;
}

table {
  border-collapse: collapse;
}

select {
  font-size: 50px;
}

table,
th,
td {
  border: 1px solid black;
  padding: 5px;
  
}

.correct {
  color: green;
}

.wrong {
  color: red;
}

#tb {
  width: 15rem;
  height: 2rem;
  text-align: center;
  font-size: 30px;
  border: none;
}

tr:nth-child(2) {
    background-color: #b9c8aa;
  }

  tr:nth-child(n+3):nth-child(-n+4) {
    background-color: #6190c2;
  }

  tr:nth-child(n+5):nth-child(-n+9)  {
    background-color: #939b6c;
  }
  tr:nth-child(n+10):nth-child(-n+15)  {
    background-color: #3f5cbb;
  }


  .fixed-header {
    
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    background-color: rgb(16, 119, 78);
    padding: 8px 50px;
    width: 85%;
  }

  .checkButton{
    border: 3px solid;
    border-radius: 30px;
    background-color: rgb(137, 201, 76);
    font-size: 30px;
   
  }
    hr {
        border-top: 10px solid rgb(14, 31, 188);
        margin-top: 80px;
        width: 100%; 
    }   

    

/* styles.css */

.flash-card {
  width: 200px;
  height: 100px;
  perspective: 1000px;
}

.card-front,
.card-back {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  backface-visibility: hidden;
  transition: transform 0.5s;
}

.card-front {
  background-color: #348481;
}

.card-back {
  background-color: #1aeb0b;
  color: rgb(0, 0, 0);
  transform: rotateY(180deg);
  font-size: 60px;
}

.flash-card.flipped .card-front {
  transform: rotateY(180deg);
}

.flash-card.flipped .card-back {
  transform: rotateY(0deg);
}

